<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <title>TodoListChallengePatrick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <div class="container">
        <div class="header clearfix">
          <nav>
            <ul class="nav nav-pills pull-right">
              <!-- <li role="presentation"><a href="/">Home</a></li> -->
                  <% if user_signed_in? %>
                    <li role="presentation"><%= link_to 'New Session', destroy_user_session_path, :method => :delete, id:"logout-button"%></li>
                  <% else %>
                    <li role="presentation"><%= link_to 'Register', new_user_registration_path %></li>
                    <li role="presentation"><%= link_to 'Sign in', new_user_session_path %><li>
                  <% end %>     
            </ul>
          </nav>
          <h3 class="text-muted">Patrick's To-do List App</h3>
          </div>


    <!-- from devise -->
    <% if false #alert or notice %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>

<%= yield %>


  </div> <!-- /container -->


</body>
</html>
