<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <title>NextcapitalTodoListChallengePatrick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <script>
  </script>

</head>
<body>

  <div class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <%= image_tag("todo-icon.png", :alt => "icon", class: "navbar-icon") %>
          </a>
          <p class="navbar-text" id="app-title">
            NextCapital Todo List
          </p>

          <div class="collapse navbar-collapse navbar-right" id="navbar-buttons">
            <ul class="nav navbar-nav ">
              <li><%= link_to 'Login', new_session_path, remote: true, id: "login-button"%></li>
              <li><%= link_to 'Signup', new_user_path, remote: true, id: "signup-button"%></li>
              <li><p class="navbar-text" id="signed-in-text"><%="Signed in #{session[:email]}"%></p></li>
              <li>
                  <%= link_to 'Logout', sign_out_path, id:"logout-button"%>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div>
    </nav>

<%= yield %>

  </div>

</body>
</html>
